@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div>Select a County:</div>
    <select id="counties"></select>

    <div>Cities:</div>
    <select id="cities"></select>

    <div>Select a Continent:</div>
    <select id="continents"></select>

    <div>Countries:</div>
    <select id="countries"></select>

</div>
<div class="row">
    


</div>

@section scripts {
    <script>
        $(function () {
            loadCounties();

            $("#counties").change(() => {
                var selectedCounty = $("#counties").val();
                clearCities();
                loadCitiesFor(selectedCounty);
            });
        });

        function loadCounties() {
            fetch('/County/GetCounties')
                .then((response) => response.json())
                .then((counties) => {
                    loadValuesIntoDropdown('#counties', counties);
                });
        }

        function loadCitiesFor(countyName) {
            fetch('/County/GetCitiesInCounty?countyName=' + countyName)
                .then((response) => response.json())
                .then((counties) => {
                    loadValuesIntoDropdown('#cities', counties);
                });
        }

        function clearCities() {
            $("#cities").empty();
        }


        $(function () {
            loadContinents();

            $("#continents").change(() => {
                var selectedContinent = $("#continents").val();
                clearCountries();
                loadCountriesFor(selectedContinent);
            });
        });

        function loadContinents() {
            fetch('/Continent/GetContinents')
                .then((response) => response.json())
                .then((continents) => {
                    loadValuesIntoDropdown('#continents', continents);
                });
        }

        function loadCountriesFor(continentName) {
            fetch('/Continent/GetCountriesInContinent?continentName=' + continentName)
                .then((response) => response.json())
                .then((continents) => {
                    loadValuesIntoDropdown('#countries', continents);
                });
        }

        function clearCountries() {
            $("#countries").empty();
        }


        function loadValuesIntoDropdown(selector, values) {
            $.each(values, function () {
                $(selector).append($("<option />").val(this).text(this));
            });
        }
    </script>
}